<!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
      <div class="container">
        <img src="index.jpg" class="img-fluid" alt="...">

        <h4 class="text-center">List of all our courses</h4><br>
          <div class="row">
            <% @courses.each do |course| %>

            <div class="col-sm-4 pt-3">
              <div class="card" style="width: 18rem; height: 25rem;">
                <img src="laptop.jpg" class="card-img-top" alt="laptop">
                <div class="card-body">
                  <strong><p class="card-title"><%= course.title %> </p></strong><br>
                  <p class="card-text"> Proposed by : Instructor </p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-center my-2">
                    <%= link_to 'Get more informations', course, class:"btn btn-info" %><br>
                  </div>
                </div>
              </div>
            </div>
             <% end %>
         </div>
      </div>

    </body>
  </html>

<p id="notice"><%= notice %></p>

<br>

<%= link_to 'New Course', new_course_path %>
