<footer>
<div style="margin-top:100px"></div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
     <h6 class="text-uppercase fw-bold mb-4">Get connected with us on social media</h6>
    </div>
    <div class="col-sm">
      <p>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram"></i></a>
      </p>
    </div>
    <div class="col-sm">
      <p>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i class="fab fa-twitter"></i></a>
      </p>
    </div>
    <div class="col-sm">
      <p>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button" ><i class="fab fa-facebook-f"></i></a>
      </p>
    </div>
  </div>
</div>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="/">https://formatech-org.herokuapp.com/</a>
  </div>
</footer>